body {font-family: 'Signika', sans-serif; color: #000; margin-top:127px;}
* {margin: 0; padding: 0; }
h1, h2, h3 {font-family: 'Mulish', sans-serif;}
h3 { font-size: 30px}

p {font-size: 18px; line-height: 30px;}
a.btn-blue:hover {background: #154D5F; color: #fff; transition: .5s}
a:hover {text-decoration: none}
/*a {font-family: 'Mulish', sans-serif;}*/
/*Header*/
.header { padding: 20px 0px 5px; position: fixed; z-index: 9999; width: 100%;  background: #fff; top:0;}
.phone-div { text-align: right; padding: 0px 16px 16px}
.header .navbar-collapse { justify-content: flex-end;}
.header  .navbar-nav li.about-menu a { background: #95BE48;font-family: 'Mulish', sans-serif; color: #fff; height: 44px; width: 140px; text-align: center; line-height: 18px; font-size: 14px; padding: 13px 5px;}
.header  .navbar-nav li.about-menu a img { margin-right: 13px; margin-top: -2px;}
.header  .navbar-nav li { padding: 0px 30px;}
.header  .navbar-nav li.about-menu {padding-right: 0px;}
.header  .navbar-nav li a img {margin-right: 13px; margin-top: -2px;}
.header  .navbar-nav li a {font-size: 14px;  font-family: 'Mulish', sans-serif;letter-spacing: 1px; padding: 12px 11px; color: #002D62}
.phone-div img {margin-right: 13px; margin-top: -2px;}
.phone-div a {color: #6578A2;font-family: 'Mulish', sans-serif;}

/*banner*/
.banner img { width: 83.5%; height: 790px; object-fit: cover; object-position: top; float: right}
.slider-div { padding: 0px;}
.banner-caption h3 { color: #fff; font-size: 55px; font-weight: 600;    line-height: 64px;font-family: 'Mulish', sans-serif;}
.banner-caption { background: #002D62; z-index: 999; position: absolute; width: 590px; height: 390px; display: flex; align-items: center; padding: 40px 50px 40px 90px;top: 0; bottom: 0; margin: auto;left: 12%; box-shadow: 1px 1px 5px rgb(0 0 0 / 10%)}
.banner-caption h3 span { font-weight: normal; font-style: italic;}

/*icon content*/
.icon-content { padding: 80px 40px 85px;}
.icon-content h3 { font-size: 18px; color: #001940; font-weight: 700; margin-bottom: 10px;}
.icon-content p { color: #6F6F6F; font-size: 16px; font-weight: 300; line-height: 30px;}
.icon-content .media img { margin-top: 3px;}

/*content*/
.content-main { position: relative}
.content-main .left-img { padding: 90px 0px;}
.content-main .right-info { background: #F4F5F7; display: flex; align-items: center; position: relative;box-shadow: 3px 1px 10px -9px rgb(0 0 0 / 8%)}
.content-main:after { content: ""; background: #F4F5F7; height: 100%; width: 20%; right: 0; position: absolute; top: 0;z-index: -1}
.right-info:before  { content: ""; background: #F4F5F7; height: 100%; width: 210px; left: -29%; position: absolute; top: 0; z-index: -1;box-shadow: 3px 1px 10px -9px rgb(0 0 0 / 8%)}
.infor-right { padding-left: 85px;}
.infor-right h3 { font-size: 25px; line-height: 42px; font-weight: 600; color: #000; margin-bottom: 17px;}
.infor-right p { color: #6F6F6F; font-weight: 300; line-height: 32px; font-size: 15px; margin-bottom: 60px;}
a.btn-clr { background: #6578A2; border:1px solid #6578A2; color: #fff; padding: 14px 34px; display: inline-block; margin-right: 25px;}
a.btn-clr-br {border:1px solid #6578A2; color: #6578A2; padding: 14px 34px; display: inline-block;}
a.btn-clr img, a.btn-clr-br img { margin-left: 19px;}
.mobileView{display:none;}

/*news section*/
.news-div { padding: 90px 0px 50px;}
.news-head P {margin-bottom: 10px; font-weight: 300; font-size: 15px; text-transform: uppercase; color: #002662; line-height: 19px; letter-spacing: 1px;font-family: 'Mulish', sans-serif;}
.news-head h3 {font-size: 45px; color: #000; line-height: 50px;font-weight: 600;margin-bottom: 45px;}
.news-btn a { float: right; margin-right: 0px;}
.news-head { padding-left: 40px;}
.news-btn { padding-right: 40px;}
.news-box { padding: 45px 40px;}
.news-box h4 { font-size: 20px; line-height: 30px; padding-right: 30px; margin-bottom: 10px;font-family: 'Mulish', sans-serif; font-weight: 600}
.news-box p { color: #1C1C1C; font-size: 15px; font-weight: 300; line-height: 32px; margin-bottom: 40px;}

/*parallex */
.bg-div { height: 600px; background-repeat: no-repeat; background-size: cover;    background-attachment: fixed;}

/*count*/
.count-div {background: #F4F5F7; padding: 74px 0px 100px;}
.count-div P {margin-bottom: 10px; font-weight: 300; font-size: 15px; text-transform: uppercase; color: #002662; line-height: 19px; letter-spacing: 1px;font-family: 'Mulish', sans-serif;}
.count-div h3 {font-size: 45px; color: #000; line-height: 50px;font-weight: 600;margin-bottom: 70px;}
.count-box { text-align: center;}
.count-div .count-box h3 { font-size: 18px; color: #001940; font-weight: 700; line-height: 23px;margin-bottom: 13px}
.count-box img { margin-bottom: 20px;}
.count-box p { color: #001940; font-size: 16px; line-height: 22px; text-transform: capitalize; margin-bottom: 0px}

/*inner img*/
.inner-img img { height: 500px; object-fit: cover; width: 100%; }
.inner-img {margin: 90px 0px;}

/*drs*/
.heading-div P {margin-bottom: 10px; font-weight: 300; font-size: 15px; text-transform: uppercase; color: #002662; line-height: 19px; letter-spacing: 1px;font-family: 'Mulish', sans-serif;}
.heading-div h3 {font-size: 45px; color: #000; line-height: 50px;font-weight: 600;margin-bottom: 70px; max-width: 80%;}
.drs-div .media h3 { font-size: 20px; color: #000; font-weight: 700; margin-bottom: 10px;}
.drs-div .media p { color: #6F6F6F; font-size: 15px; font-weight: 300; line-height: 32px;}
.drs-div .media img { margin-top: 3px; margin-right: 45px;}
.drs-div .media { margin-bottom: 68px;}
.drs-div { padding: 55px 0px;}
.drs-left .media { padding-right: 35px;}
.drs-right .media { padding-left: 35px;}

/*Product list*/
.product-inner ul.prod-list li { width: 48%; float: left; margin: 0px;}
.product-inner ul.prod-list li .media img { width: 20px; margin-right: 15px;}
.product-inner ul.prod-list li .media p {color: #6F6F6F; font-size: 15px; line-height: 20px; font-weight: 300}
.product-inner ul.prod-list li .media h3 {color:#002662; font-size: 14px; font-weight: 700; line-height: 18px; margin-bottom: 7px;}
.product-inner { display: inline-block; padding: 30px 34px 10px;    box-shadow: 1px 1px 10px rgb(0 0 0 / 10%);}
.product-inner ul.list-inline.list-div li { color: #002662; font-size: 17px; line-height: 22px; letter-spacing: 0.5px; font-weight: 300; position: relative; padding-right: 10px;}
ul.list-inline.list-div li:after { content: ""; background: #002662; width: 1px; height: 14px; position: absolute; margin: auto;
    top: 0; bottom: 0; right: 0;}
ul.list-inline.list-div li:last-child:after {display: none}
.product-box > img { height: 300px; object-fit: cover;width: 100%;}
.recent-prod { padding-bottom: 55px;}
.recent-prod .news-head h3 { margin-bottom: 57px;}

/*brand div*/
.brand-img ul li { margin: 0px !important;padding: 0px 2px;}
.brand-img ul li img {width: 252px}
.brand-img ul {text-align: center; display: flex;}
.brand-div { padding: 90px 0px 140px;}

/*footer */
.footer { background-repeat: no-repeat; background-position: right;background-size: 50%;}
.ftr-logo { margin-bottom: 25px;}
.ftr-ads h3 {font-size: 20px; line-height: 30px; font-weight: 600; margin-bottom: 16px;}
.ftr-ads p { color: #1C1C1C; font-size: 19px; line-height: 30px; font-weight: 300;margin-bottom: 18px;}
.ftr-ads a { color: #1C1C1C;}
.ftr-social { display: flex; height: 185px; align-items: flex-end; justify-content: flex-start;}
.ftr-social ul { margin-bottom: 0px;}
.ftr-social ul li { margin-left: 15px;}
.ftr-ads { padding-left: 58px;padding-bottom: 35px;}
.form-ftr { padding: 60px; background: #002662;}
.form-icon ul li a { color: #fff; font-size: 15px; line-height: 19px; letter-spacing: 0.5px; font-weight: 300;font-family: 'Mulish', sans-serif;}
.form-icon ul li {padding-bottom: 20px;}
.form-icon ul li img {margin-right: 28px;}
.form-div h3 { color: #fff; font-size: 16px; line-height: 20px; margin-bottom: 22px; font-weight: 300;}
/* .footer .form-div form input { max-width: 310px;    border-radius: 0px;    height: 40px;    margin-bottom: 20px;} */
/* .form-icon ul {margin-bottom: 0px;} */
/* .footer .form-div button.btn.btn-form { border-radius: 0px; padding: 10px 35px; background: #6578A2; color: #fff;display: inline-block;} */
/* .footer .form-div form input::placeholder {font-size: 14px; color:#000000; opacity: .6;} */
.copyright-div { padding: 30px 39px 0px;}
.copyright-div ul li { color: #000000; font-size: 15px; font-weight: 300; line-height: 30px; position: relative; margin: 0px !important; padding:0px 9px;}
.copyright-div ul li a  {color: #000000; font-size: 15px; font-weight: 300; line-height: 30px; }
.copyright-div ul li:after { content: ""; background: #000; width: 1px; height: 14px; position: absolute; margin: auto;
    top: 0; bottom: 0; right: -1px;}
.copyright-div ul li:last-child:after {display: none}

/*list page*/
.property-head { padding: 75px 0px;}
.property-head p { text-transform: inherit; max-width:74%; color: #6F6F6F; font-size: 15px; line-height: 32px; margin-bottom: 0px;}
.property-head .news-head h4{ margin-bottom: 10px; font-weight: 300; font-size: 15px; text-transform: uppercase; color: #002662; line-height: 19px; letter-spacing: 1px;font-family: 'Mulish', sans-serif;}
.property-head .news-head h3 { margin-bottom: 30px;}

.property-list a.filter-btn { background: #95BE48; color: #fff; padding: 14px 30px;margin-left: 26px; display: inline-block;}
.custom-search-input input { border: none; border-bottom: 1px solid #001940; border-radius: 0px; padding: 0px;}
.custom-search-input input:focus  {outline:none; box-shadow: none}
.custom-search-input { position: relative; width: 100%;}
.custom-search-input input::placeholder {color: #001940; font-size: 15px; line-height: 21px;}
.custom-search-input span.input-group-btn { position: absolute; right: 0;z-index: 999;}
.filter-right ul { text-align: right; padding-right: 40px;}
.filter-right ul li a {color: #001940; font-size: 15px; line-height: 21px; padding-left: 28px;}
.filter-right ul li a img { margin-right: 3px; margin-top: -1px;}
.property-list a.filter-btn img { margin-right: 10px;}
.filter-div { margin-bottom: 60px;}
.filter-search, .filter-right { display: flex; margin-bottom: 60px; align-items: end;}
.filter-right ul { margin-bottom: 0px; width: 100%;}
.property-list .product-div { margin-bottom: 50px;}
.property-list { padding-bottom: 90px;}

/*propert detail page*/
.property-detail { padding: 32px 0px 100px; position: relative;}
.property-detail:before {content: ""; background: #002D62; width: 100%; position: absolute; left: 0; height: 520px; top: 0;}
.back-div { padding-bottom: 26px;}
.back-div a { color: #fff; font-size: 12px; text-transform: uppercase; letter-spacing: 1px;}
.back-div a img { margin-right: 20px; margin-top: -5px;}
.prop-left img { width: 100%; height: 600px; object-fit: cover;}
.prop-img { position: relative; margin-bottom: 24px;}
.prop-btn { position: absolute;  bottom: 0; left: 35px; width: 100%;}
.prop-btn a { background: #95BE48;  display: inline-table; width: 183px; height: 54px; text-align: center; color: #fff;
 padding: 15px 30px; font-size: 16px; font-weight: 600}
.prop-img img { height: 288px; width: 100%;}
.prop-detail ul.prod-list li .media img { width: 20px; margin-right: 10px;}
.prop-detail ul.prod-list li .media p {color: #6F6F6F; font-size: 15px; line-height: 20px; font-weight: 300}
.prop-detail ul.prod-list li .media h3 {color:#002662; font-size: 14px; font-weight: 700; line-height: 18px; margin-bottom: 3px;}
.prop-detail { padding-top: 7px; padding-right: 90px;}
.prop-info h2 { font-size: 35px; line-height: 45px; margin-bottom: 27px;}
.prop-detail ul.prod-list li .media { padding-right: 30px;}
.prop-info p { font-size: 16px; font-weight: 300; line-height: 38px;  margin-bottom: 30px;}
.prop-info ul { margin-bottom: 12px;}
a.load-more { color: #95BE48; font-size: 16px; line-height: 30px; font-weight: 600;}
a.load-more img { margin-left: 15px;}
.ken-div { margin-top: 64px;}
.ken-div h3 { margin-bottom: 24px; font-size: 35px; line-height: 44px;}
.info-box h4 { font-size: 18px; font-weight: 600; line-height: 23px;}
.info-box p { margin-bottom: 10px; font-weight: 300; font-size: 18px; line-height: 24px;}
.info-box span { float: right;}
.info-box { padding-bottom: 15px; border-bottom: 1px solid #DDDDDD; margin-bottom: 34px;}
.info-box:last-child {border: none; padding-bottom: 0px;}
.prop-detail iframe { margin-top: 32px;}
.count-div.count-detail { margin-bottom: 100px;}
.property-sidebar { padding:43px 50px 68px; background: #E6E7F0; margin-top: 79px;}
.property-sidebar h3 { font-size: 25px; line-height: 45px; color: #001940; font-weight: 700;}
.property-sidebar .media h4 { font-size: 17px; font-weight: 500; color: #001940; line-height: 36px;  margin-bottom: 0px;}

.property-sidebar .media p {  margin-bottom: 0px; padding-top: 0px;}
.property-sidebar .media p img { margin-right: 15px;}
.property-sidebar .media a {color: #001940;font-size: 15px; line-height: 35px; font-family: 'Signika', sans-serif;}
.property-sidebar p { font-size: 16px; font-weight: 300; line-height: 28px;color: #001940; margin-bottom: 0px;  padding-top: 14px;}
.property-sidebar .media { align-items: center;}
.side-btn ul { text-align: center;  margin-bottom: 0px;}
.side-btn ul li a { color: #fff;}
.side-btn ul li { background: #6578A2; width: 49%; margin: 0px !important; padding: 14px;}
.side-btn ul li.li-first { background: #002662;}

.team-list { padding-left: 40px;}
.property-head.team-head p { padding-bottom: 32px;}
.team-list ul li a { padding: 10px 40px; background: #F4F5F7;  box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);border-radius: 5px;color:#001940}
.team-list ul li { padding-right: 10px;}
.team-list h4 { padding-bottom: 20px;  color: #001940;  font-size: 15px; font-weight: 600;font-family: 'Mulish', sans-serif;}
.team-list ul li a.active { background: #002662;  color: #fff;}
.team-list ul { margin-bottom: 0px;}
.team-box > img { height: 500px; object-fit: cover; width: 100%;}
.team-info { padding: 50px 45px 70px;}
.team-info h3 { font-size: 20px; color: #002662;  letter-spacing: .2px;  float: left;  padding-right: 30px;font-family: 'Signika', sans-serif;    font-weight: 500;}
.team-info a.social-icon { float: right;}
.team-info p { clear: both;}
.team-info p a { font-size: 17px; line-height: 32px; font-weight: 300; color: #001940;}

.brand-div.team-brand { padding-top: 70px;}
.ovens-title h2 span { display: block; font-style: italic; font-weight: normal;}
.ovens-title h2 { font-size: 55px; color: #fff; font-weight: 600; line-height: 64px; padding-left: 165px; margin-bottom: 50px}
.property-detail.ovens-detail { padding-top: 68px; padding-bottom: 0px}
.count-div.ovens-count { background: transparent;  padding: 54px 0px 100px;}
.count-div.ovens-count .ams-div { padding-left: 40px;}
.ovens-cont {  padding: 100px 0px;}
.ovens-para h3 { font-size: 25px; line-height: 42px; margin-bottom: 70px;    max-width: 87%;}
.ovens-para p { font-size: 15px; line-height: 32px; font-weight: 300; padding-right: 30px;    margin-bottom: 25px;}
.drs-box { padding-bottom: 50px;}
.drs-inner.gray-drs { background: #F4F5F7;  }
.drs-inner {padding: 60px 15px 60px 50px;    box-shadow:1px 1px 10px 1px rgb(0 0 0 / 10%);    height: 353px;margin-right: 15px;}
.drs-inner h4 { font-size: 20px; line-height: 15px; color: #001940; margin-bottom: 20px;}
.drs-inner p { color: #001940; font-size: 15px; font-weight: 300; line-height: 32px;margin-bottom: 25px;}
.drs-right .drs-inner { margin-left: 15px; margin-right: 0px;}
.drs-inner .media > img {  margin-right: 40px;}
.news-div.overns-team { padding-bottom: 0px;}
.drs-right .drs-inner .media { padding-left: 0px;    padding-right: 15px;}

.services-div .drs-inner {height: auto;    margin-bottom: 50px;}
.services-div  .drs-right .drs-inner { margin-left: 0px; margin-right: 15px;  padding: 60px 15px 60px 40px;}
.service-head p { max-width: 61%;}
.drs-box.services-div { padding-bottom: 0px;}

.news-bg img { width: 100%;}
.property-head.news-title h3 { max-width: 70%;    margin-bottom: 0px;}
.property-head.news-title { padding-bottom: 50px;}
.news-bg .news-para { padding-top: 70px;}
.news-para p { color: #6F6F6F; font-size: 15px; font-weight: 300; line-height: 32px; padding-bottom: 38px; padding-left: 25px}
.news-div.news-main h4 { font-weight: 300;}
.news-div.news-main .news-box { margin-bottom: 55px;}
.cross-btn, .mobile-links, .mob-title, #slider, .mob-ftrlink2 {display: none}
.brand-div.brand-mob, a.btn-clr.team-btn { display: none;}
.produt-mobslider {  display: none;}


div#filtermodel .modal-dialog { margin: 0px;    height: 100%;}
div#filtermodel .modal-content { width: 428px;     height: 100%;background: #00245d}
div#filtermodel .modal-body { padding: 60px 70px;    height: 100%;}
div#filtermodel button.close-btn { background: transparent;  box-shadow: none;  border: none;  float: right;  color: #fff;  font-size: 13px;}
div#filtermodel button.close-btn img { width: 11px;}
div#filtermodel .filter-main { padding-top: 45px;  clear: both;}
div#filtermodel .filter-main img { margin-bottom: 30px;}
.filter-main p { color: #fff; font-size: 12px; font-weight: 300; margin-bottom: 0px;}
.filter-main h4 {color: #fff; font-weight: 300; font-size: 22px;letter-spacing: 1px; margin-bottom: 60px;}
.filter-num { margin-top:38px;padding-bottom: 26px; border-bottom: 1px solid #fff; }
.filter-num h3 { color: #fff; font-size: 22px; letter-spacing: 1px; font-weight: 300;margin-bottom: 30px;}
.filter-num form input { height: 44px; background: transparent; box-shadow: none; border: 1px solid #eee; width: 130px; margin-right: 25px;
    padding: 20px 40px; color: #fff; font-size: 15px;  font-weight: 300;}
.filter-num form input::placeholder {color:#fff}
.filter-num .form-inline .form-group:last-child input {  margin-right: 0px;}

.filter-num .checkbox-cont input[type="checkbox"], .filter-num .checkbox-cont input[type="radio"] {
    opacity: 0;
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 1;
    margin-left: -3px;
    display: block;
    margin-top: -1px;
    cursor: pointer;
}
.filter-num .checkbox-cont input:checked+.checkmark:before {
    background-position: -22px top;
}

.checkbox-cont {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	    margin-right: 15px;
	color:#fff;
	font-weight: 300;
	font-size: 14px;
}


/* Create a custom checkbox */
.filter-num .checkbox-cont .checkmark:before {
    content: '';
    display: inline-block;
    background: url(../images/checkbox-img.png) no-repeat left top;
    width: 21px;
    height: 21px;
    float: left;
    position: relative;
    top: 0px;
}
.filter-num .checkbox-cont .checkmark {
    position: relative;
    margin: 0;
    margin-right: 0;
    float: left;
    padding-left: 0;
    z-index: 0;
    margin-top: 0;
}
label.checkbox-cont span {
    padding-left: 15px;
}
select.dropdown-btn {
    height: 44px;
    background: transparent;
    box-shadow: none;
    border: 1px solid #eee;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
	color: #fff;
}
.filter-num.filter-dropdown {
    border: none;
}
.filter-btm {
    position: relative;
    bottom: 0px;
    width: 100%;
    left: 0;    padding: 0px 60px;
}
.filter-btm a.filter-white {
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 20px;
}
.filter-btm a.filter-clr {
    background: #fff;
    color: #00245d;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
}

/*.header.sticky {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 10%);
	animation:slide-down 0.7s;
	    top: 0;
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}*/



/*Responsive*/

@media (min-width:1200px)
{
	.container{width:85%; max-width:1460px; margin-left:auto; margin-right:auto}
}
@media (min-width:1300px)
{
	.container {max-width:1310px;}
}

@media (max-width:1799px)
{
	.banner img {width: 87%;}
	.banner-caption {left: 8%;}
}
@media (max-width:1680px)
{
	.banner img { width: 88%;}
	.banner-caption { left: 7%;}
}
@media (max-width:1500px)
{
	.banner img { width:91.4%;}
	.banner-caption { left: 3%;}
	.form-icon ul li:last-child { padding-bottom: 0px;}
	.ftr-ads p {margin-bottom: 15px}
	.footer {background-position: bottom right; background-size: 50% 100%;}
	.copyright-div { padding: 30px 35px 0px;}
	.ftr-ads p { font-size: 18px; line-height: 28px;}
	.copyright-div ul li, .copyright-div ul li a {font-size: 14px;}
	.product-inner { padding: 25px 25px 10px;}
	.banner-caption h3 {    font-size: 50px;}
	.banner-caption { height: 350px;}
	.count-div h3 { font-size: 42px;}
	.drs-div .media { margin-bottom: 50px;}
	div#filtermodel .modal-body { padding: 30px 70px;}
	.filter-main h4 {    margin-bottom: 40px;}
	div#filtermodel .filter-main { padding-top: 25px;}
	.filter-num h3 { font-size: 20px;}
	.filter-num { margin-top: 30px;}
	.filter-num h3 {    font-size: 19px;    margin-bottom: 20px;}
	.filter-btm {    bottom: 0px;}
	
}
@media (max-width:1300px)
{
	.ftr-ads { padding-left: 40px;}
	.form-ftr {padding: 40px;}
	.form-div form { max-width: 250px;}
	.form-icon ul li { padding-bottom: 16px;}
	.copyright-div { padding: 30px 20px 0px;}
	.ftr-ads p { font-size: 17px; line-height: 27px;}
	.product-box > img { height: 270px;}
	.filter-right ul { padding-right: 30px;}
	.team-list ul li a { padding: 10px 35px; font-size: 15px;display: inline-block; margin-bottom: 15px}
}

@media (max-width:1250px)
{
	.team-list ul li a { padding: 10px 31px;  font-size: 14px;}
	.header .navbar-nav li {  padding: 0px 25px !important;}
	.header .navbar-nav li.about-menu { padding: 0px !important;}
}

@media (max-width:1024px)
{
	.team-box > img { height: 320px;}
	.team-info h3 { width: 80%;}
	.team-info { padding: 40px 40px 60px;}
	.news-head h3 { font-size: 40px;}
	.property-head { padding: 75px 0px 60px;}
	.header .navbar-nav li { padding: 0px 25px;}
}

@media (max-width:991px)
{
	.header .navbar-nav li.about-menu a { padding: 11px 5px;height: auto; width: 110px;}
	.header .navbar-nav li { padding: 0px 10px !important;}
	.header .navbar-nav li a { font-size: 13px !important}
	.header .navbar-nav li.about-menu a { font-size: 13px;}
	.phone-div a {font-size: 14px;}
	.phone-div { padding: 0px 16px 10px;}
	.banner img { width: 94.4%;    height: 600px;}
	.banner-caption h3 { font-size: 40px;}
	.banner-caption { height: 315px;width: 500px;}
	.icon-content { padding: 60px 0px 55px;}
	.icon-content .media img {    width: 29px;}
	.icon-content h3 {font-size: 16px;}
	.icon-content p { font-size: 14px;  line-height: 27px;}
	.infor-right h3 {font-size: 20px; line-height: 31px;}
	.infor-right { padding-left: 20px;}
	a.btn-clr { margin-right: 10px; font-size: 15px;    padding: 13px 18px;}
	a.btn-clr-br {font-size: 15px;    padding: 13px 18px;}
	.infor-right p {    margin-bottom: 40px;}
	.news-head P { margin-bottom: 7px; font-weight: 300; font-size: 13px;}
	.news-head h3 { line-height: 44px ;font-size: 39px;}
	.news-box { padding: 35px;}
	.news-box h4 {font-size: 18px; line-height: 28px; padding-right: 0px;}
	.news-box p { font-size: 14px; line-height: 28px}
	.bg-div { height: 400px;}
	.count-box p { font-size: 15px;}
	.count-div h3 { font-size: 35px;}
	.brand-div { padding: 70px 0px 100px;}
	.property-head { padding: 75px 0px 50px;}
	.property-head p {    max-width: 94%;}
	.team-box > img { height: 250px;}
	.team-info { padding: 30px 25px 40px;}
	.team-info h3 { width: 80%;font-size: 17px;}
	.team-info p a { font-size: 15px; line-height: 30px;}
	
	
	
}

@media (max-width:767px)
{
	.mobileView{display:block!important;}
	.desktopView{display:none;}
	.navbar-collapse { padding-right: 15px;}
	#mobile-nav{display: block; position: fixed; background:#00336d; width: 100%; height: 100vh;  top:0; padding:0px; overflow-y: auto;  z-index: 10001; -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; left:100%}
	#mobile-nav.open{left: 0}
	.navbar-nav{margin-left: 0; margin-right: 0}
	.nav > li{border-bottom:1px solid #333}
	.navbar-nav > li > a{ padding: 7px;  color: #fff;  font-size: 22px;  font-weight: 500;}
	.cross-btn{width:26px;height:26px;display: block;color: #000;text-align: center;font-size:15px;line-height: 17px;border-radius: 50%; padding-top: 5px;margin:12px 15px; position: absolute; z-index: 1000; top:5px; left: auto; right: 0px;} 
	.header .navbar-default .navbar-nav > li > a:hover{background: #222}
	.header ul.nav.navbar-nav.navbar-right{margin-top: 40px}
	.header .navbar-toggle {cursor: pointer}
	.open ul.nav.navbar-nav { margin-top: 50px;}
	.calls-info {  display: none;}
	.navbar-toggler-icon { background-image: url(../images/toggle-icon.png) !important;background-size: contain;}
	.navbar-expand-md .navbar-toggler {  display: block;padding: 0px; position: relative; top: 0px;    margin: auto;}
	.header nav.navbar.navbar-expand-md { padding: 18px 0px; float: right; width: 63px;  height: 63px;    background: #002662;}
	.header .language {  width: 100%;}
	.header .navbar ul.navbar-nav li a {    color: #fff;}
	.navbar-nav {display: block; width:100%;  position: relative;  padding-left: 84px;  padding-top: 100px;}
	.header .navbar ul.navbar-nav li a {  font-size: 16px;  padding: 10px 0px;}
	.menu { display: flex;    justify-content: flex-end;    align-items: center;    padding-right: 0px;}
	.header { padding: 0px;}
	.header .container { padding: 0px;}
	.navbar-expand-md .navbar-toggler:focus {outline: none}
	.cross-btn {display: block}
	.logo { padding: 10px 0px 4px 20px;}
	.phone-div { padding: 0px 35px 0px 0px;}
	.banner-caption { height: 190px; width: 100%; bottom: 0; top: auto;    padding-left: 50px; left: 0;}
	.mobile-links ul { margin-bottom: 0px; padding-left:23px;}
	.mobile-links { background:#002662; padding: 10px 0px;}
	.mobile-links ul li a { color: #fff; font-size: 14px; letter-spacing: .2px;}
	.mobile-links ul li { width: 30%;}
	.banner-caption h3 { font-size: 25px; line-height: 30px;}
	.mobile-links, .mob-title, #slider {display: block}
	.banner-caption {left: 6%; width: 94%; bottom: 0; padding-left: 40px; padding-right: 25px;}
	.header .container .row { margin: 0px;}
	.logo img {  width: 80%;}
	div#slider button.owl-prev {background-image: url(../images/arrow-left.jpg); width: 27px; height: 27px; border-radius: 0px;}
	div#slider button.owl-next {background-image: url(../images/arrow-right.jpg);width: 27px; height: 27px; border-radius: 0px;}
	div#slider .owl-nav { position: absolute; bottom: 36%; right: 15px;}
	div#slider button span {font-size: 0px;}
	div#slider { padding-bottom: 28px;}
	div#slider button:focus {outline: none}
	#product-slider button.owl-prev {background-image: url(../images/arrow-left.jpg); width: 27px; height: 27px; border-radius: 0px;}
	#product-slider button.owl-next {background-image: url(../images/arrow-right.jpg);width: 27px; height: 27px; border-radius: 0px;}
	#product-slider .owl-nav {  position: absolute; bottom: 11%; right: 10px;}
	.product-mob button span {font-size: 0px;}
	.product-mob { padding-bottom: 28px;}
	.product-mob button:focus {outline: none}
	.product-mob img { height: 284px;  object-fit: cover;}
	
	.mob-title P { margin-bottom: 5px; font-weight: 300; font-size: 10px;  text-transform: uppercase; color: #002662;
    line-height: 19px; letter-spacing: 1px;  font-family: 'Mulish', sans-serif;}
	.mob-title h3 { font-size: 20px; color: #000}
	.mob-title {  margin-bottom: 30px;}
	.icon-content {padding: 38px 30px 0px;}
	.icon-content .icon-div h3 {color: #000}
	.icon-content .icon-div p { font-size: 13px;  line-height: 25px;    margin-bottom: 55px;}
	.content-main .left-img { padding: 0px 0px;}
	.content-main { padding: 0px 20px;}
	.infor-right { padding: 32px 0px 43px}
	.infor-right h3, .news-head h3, .count-div h3 {font-size: 20px; line-height: 30px;}
	.infor-right p {line-height: 25px; font-size: 13px; margin-bottom: 26px;}
	a.btn-clr { font-size: 14px;}
	.content-main:before {content: ""; background: #F4F5F7; width: 100%; height: 200px; position: absolute;  top: 19%; left: 0}
	.news-btn {display: none}
	.news-div { padding: 55px 0px 40px;}
	.news-head h3 { margin-bottom: 33px;}
	.news-img { padding: 0px 20px;}
	.news-box { padding: 35px 20px;}
	.news-box p { margin-bottom: 55px;}
	.news-box h4 { font-size: 16px; line-height: 25px; padding-right: 0px;  padding-bottom: 13px;}
	.bg-div { display: none;}
	.count-div P {line-height: 25px; font-size: 13px; margin-bottom: 2px;}
	.count-div {    padding: 47px 30px 36px;}
	.news-head {  padding-left: 45px;}
	.count-div .count-box h3 {text-align: left; margin-bottom: 3px;}
	.ams-div .count-box p{text-align: left;padding-bottom: 40px; font-size: 16px; line-height: 22px;}
	.count-box img { margin-bottom: 20px; float: left; height: 36px; margin-right: 35px;}
	.count-div h3 { margin-bottom: 25px; line-height: 25px}
	.inner-img { margin: 0px;}
	.mob-img { padding: 0px;}
	.inner-img img { height: 220px;}
	.banner > img, .banner > video {display: none}
	.drs-div { padding: 55px 30px;}
	.heading-div P {line-height: 13px;font-size: 10px; margin-bottom: 2px;}
	.heading-div h3 { font-size: 20px; line-height: 25px;max-width: 70%;    margin-bottom: 30px;}
	.drs-div .media img {margin-right: 20px}
	.drs-div .media h3 {font-size: 16px;}
	.drs-left .media { padding-right: 0px;}
	.drs-div .media p { font-size: 13px; line-height: 25px;}
	.drs-right .media {padding-left:0px}
	a.btn-clr.mob-drs { float: right; padding: 13px 35px;}
	.news-head P {font-size: 10px; line-height: 13px; margin-bottom: 0px;}
	.recent-prod .news-head h3 { margin-bottom: 30px;}
	.product-inner ul.list-inline.list-div li { font-size: 16px;line-height: 21px; letter-spacing: 0.2px;}
	.product-inner ul.prod-list li .media h3 { font-size: 13px; line-height: 16px;}
	.product-inner { margin-bottom: 30px;}
	.product-inner ul.prod-list li .media p { font-size: 13px; line-height: 17px;}
	.product-inner { padding: 25px 25px 2px;}
	.product-div { padding: 0px 20px;}
	.brand-img ul {display:block;}
	.brand-div { padding: 0px 0px 50px;}
	.brand-img ul li img { width: 108px;}
	.brand-img ul li { margin: 0px 0px 5px !important;}
	.recent-prod { padding-bottom: 25px;}
	.footer {    background-image: none !important;}
	.mob-ftrlink2 {display: block;margin-top: -87px;    padding-left: 25px;}
	.mob-ftrlink, .ftr-social {display: none}
	.mob-ftrlink2 ul li a { color: #000;}
	.ftr-ads { padding-left: 25px;}
	.ftr-ads h3 { font-size: 12px; line-height: 22px; font-weight: 600; margin-bottom: 5px;}
	.ftr-ads p {font-size: 12px; line-height: 22px; font-weight: 300;    margin-bottom: 7px;}
	.form-icon ul li a { font-size: 12px; line-height: 15px}
	.ftr-logo img { width: 125px;}
	.ftr-info { padding: 0px;}
	.ftr-logo { padding-left: 25px;}
	.form-div form { max-width: 100%;}
	.footer .ftr-info .row { margin: 0px;}
	.copyright-div ul li, .copyright-div ul li a { font-size: 10px; line-height: 30px;}
	.copyright-div { padding: 15px 0px;  text-align: center;}
	.copyright-div ul {margin-bottom: 0px;}
	.copyright-div ul li:after { height: 10px;right: -2px;}
	.copyright-div ul li { padding: 0px 5px;}
	.form-ftr { padding: 35px 25px;}
	.property-head {padding: 46px 0px;}
	.property-head .news-head h4 {font-size: 10px; line-height: 13px; margin-bottom: 0px;}
	.property-head .news-head h3 { margin-bottom: 22px;}
	.property-head .news-head P {font-size:14px; line-height: 28px; max-width: 100%}
	.property-head .news-head {padding-left: 22px}
	.property-list a.filter-btn { margin-left: 0px;}
	.property-list { padding: 0px 5px 35px;}
	.filter-div { margin-bottom: 25px;}
	.filter-search, .filter-right {    margin-bottom: 35px;}
	.filter-right ul {    text-align: left;    padding-right: 0px;}
	.filter-right ul li a {    padding-left: 0px;}
	.filter-right ul li { width: 48%;}
	.property-list .product-div { margin-bottom: 0px;}
	.product-box > img { height: 200px; width: 100%;}
	.header .navbar-nav li.about-menu { margin-top: 10px;}
	.prop-detail {padding-right: 15px;    padding-top: 0px;}
	.prop-info h2 { font-size: 20px; line-height: 45px;margin-bottom: 10px;}
	.prop-detail ul.prod-list li .media p { margin-bottom: 25px}
	.prop-info p { font-size: 14px; font-weight: 300; line-height: 28px; margin-bottom: 30px;}
	.ken-div h3 { margin-bottom: 24px; font-size: 25px; line-height: 31px; font-weight: 600;}
	.ken-div { margin-top: 74px;}
	.info-box h4 {font-size: 16px; line-height: 20px;}
	.info-box p {font-size: 16px; line-height: 21px;}
	.prop-detail iframe {height: 311px}
	.prop-left, .pro-newdiv, .count-div.count-detail {display: none}
	.back-div {padding-bottom: 13px;}
	.back-div a img { margin-top: 0;}
	.property-detail:before { height: 250px;}
	.product-mob { padding-bottom: 18px;}
	.property-detail {padding: 32px 5px 60px}
	.prop-info ul { margin-bottom: 4px;}
	.info-box {border: none; padding-bottom: 10px;}
	.prop-right { padding: 0px;}
	.property-sidebar {    margin-top: 50px;}
	.brand-div.brand-mob, a.btn-clr.team-btn { display: block;}
	.team-list { padding-left: 22px;}
	.team-new { padding: 0px;}
	.team-box > img { height: 400px;}
	.property-head.team-head .news-head p { padding-bottom: 77px;}
	a.btn-clr.team-btn {display: inline; float: right; margin-top: -80px; z-index: 9; position: relative;  margin-right: 40px;}
	.header .navbar-nav li { padding: 0px !important;}
	body {margin-top: 107px}
	
	div#mobile-nav .phone-div { padding-right: 90px;}
	div#mobile-nav .phone-div a {color: #fff}
	div#mobile-nav .cross-btn { display: block; background: #fff; width: 63px; height: 58px; border-radius: 0px; margin: 0px; top: 0;}
	div#mobile-nav .cross-btn img { margin-top: 14px;}
	.head-btm { position: absolute; width: 100%; bottom: 0;}
	.head-btm ul { text-align: center; margin-bottom: 0px;    border-top: 1px solid #fff;}
	.head-btm ul li a {color:#fff}
	.head-btm ul li { width: 49%; padding: 29px 0px; margin: 0px !important; border-right: 1px solid #fff;}
	.head-btm ul li:last-child {  border-right: 0px;}
	div#mobile-nav ul li a { color: #fff;}
	.header .menu-icon img {  filter: none !important;}
	.header .navbar-nav li.about-menu a { padding: 13px 15px 13px 18px;}
	.mob-menu-link { padding-left: 65px;    padding-top: 60px;    }
	a.home-link-mb { background: #95BE48; font-family: 'Mulish', sans-serif; color: #fff; text-align: center; font-size: 14px; display: inline-block; padding: 10px 30px;margin-bottom: 40px;}
	a.home-link-mb img { margin-right: 15px;}
	.mob-menu-link ul li { width: 57px; height: 40px; border: 1px solid #fff; text-align: center; line-height: 40px;}
	.mob-menu-link ul li.active { background: #fff;}
	div#mobile-nav .mob-menu-link ul li.active a { color: #002662;}
	.header .navbar-nav li a {  font-size: 14px !important;  letter-spacing: 1px !important;}
}

@media (max-width:320px)
{
	.phone-div { padding: 0px 15px 0px 0px;}
	.phone-div a { font-size: 13px;}
	.logo img { width: 90%;}
}
